@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&display=swap');
@import 'tailwindcss';
body {
    font-family: var(--font-body);
}
:root {
    --font-body: 'Inter', sans-serif;
    --font-logo: 'Irish Grover', sans-serif;
}
.logo {
    font-family: var(--font-logo);
}
.container {
    max-width: 1200px;
}
